### Choose to integrate Introscope Enterprise Manager: integrate or nointegrate
chooseintroscopeintegration=nointegrate
### Choose to integrate Solution Manager Diagnostics (SMD) Agent: integrate or nointegrate
choosesmdintegration=nointegrate
### CMS cluster key
clusterkey=********
### CMS administrator password
cmspassword=********
### CMS connection port
cmsport=6400
### Existing auditing DB password
existingauditingdbpassword=********
### Existing auditing DB server
existingauditingdbserver=ndl-ddb-poc:1521/DSDB
### Existing auditing DB user name
existingauditingdbuser=IPSAUDAUTO
### Existing CMS DB password
existingcmsdbpassword=********
### Existing CMS DB reset flag: 0 or 1
existingcmsdbreset=1
### Existing CMS DB server
existingcmsdbserver=ndl-ddb-poc:1521/DSDB
### Existing CMS DB user name
existingcmsdbuser=IPSCMSAUTO
### Installation Directory
installdir=D:\BusinessObjects\
### Choose install type: default, custom, webtier
installtype=default
### Install new or use existing LCM: new or existing
neworexistinglcm=existing
### Product Keycode
productkey=********
### Language Packs Selected to Install
selectedlanguagepacks=en
### Choose to install integrated database: 0 or 1
selectintegrateddatabase=0
### Setup UI Language
setupuilanguage=en
### SIA node name
sianame=NDLDISAUTO
### SIA connector port
siaport=6410
### Tomcat connection port
tomcatconnectionport=8080
### Tomcat redirect port
tomcatredirectport=8443
### Tomcat shutdown port
tomcatshutdownport=8005
### Auditing Database Type
usingauditdbtype=oracle
### CMS Database Type
usingcmsdbtype=oracle
### Web application server type: tomcat, manual or wacs
webappservertype=tomcat
### Available features
### ------------------
### root
###   WebTier
###     JavaWebApps1
###     PlatformServers.WebAppContainerService
###     CMC.Monitoring
###     LCM
###     IntegratedTomcat
###     CMC.AccessLevels
###     CMC.Applications
###     CMC.Audit
###     CMC.Authentication
###     CMC.Calendars
###     CMC.Categories
###     CMC.CryptographicKey
###     CMC.Events
###     CMC.Folders
###     CMC.Inboxes
###     CMC.Licenses
###     CMC.PersonalCategories
###     CMC.PersonalFolders
###     CMC.Servers
###     CMC.Sessions
###     CMC.Settings
###     CMC.TemporaryStorage
###     CMC.UsersAndGroups
###     CMC.QueryResults
###     CMC.InstanceManager
###   PlatformServers
###     CMS
###     FRS
###     PlatformServers.IntegratedDB.SQLAnywhere
###     PlatformServers.AdaptiveProcessingServer
###     PlatformServers.AdaptiveJobServer
###     ClientAuditingProxyProcessingService
###     LCMProcessingServices
###     MonitoringProcessingService
###     SecurityTokenService
###     DestinationSchedulingService
###     ProgramSchedulingService
###     Subversion
###   AdminTools
###     UpgradeManager
###   DataAccess
###     DataAccess.SAP
###     DataAccess.Peoplesoft
###     DataAccess.JDEdwards
###     DataAccess.Siebel
###     DataAccess.OracleEBS
features=JavaWebApps1,CMC.Monitoring,LCM,IntegratedTomcat,CMC.AccessLevels,CMC.Applications,CMC.Audit,CMC.Authentication,CMC.Calendars,CMC.Categories,CMC.CryptographicKey,CMC.Events,CMC.Folders,CMC.Inboxes,CMC.Licenses,CMC.PersonalCategories,CMC.PersonalFolders,CMC.Servers,CMC.Sessions,CMC.Settings,CMC.TemporaryStorage,CMC.UsersAndGroups,CMC.QueryResults,CMC.InstanceManager,CMS,FRS,PlatformServers.AdaptiveProcessingServer,PlatformServers.AdaptiveJobServer,ClientAuditingProxyProcessingService,LCMProcessingServices,MonitoringProcessingService,SecurityTokenService,DestinationSchedulingService,ProgramSchedulingService,UpgradeManager,AdminTools,DataAccess.SAP,DataAccess.Peoplesoft,DataAccess.JDEdwards,DataAccess.Siebel,DataAccess.OracleEBS,DataAccess